@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}


.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eee;

    .converter {
        width: 50%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        background-color: #fff;
        border-radius: 16px;
        border: 2px solid #000;
        padding: 20px 40px;
        gap: 20px;


        p {
            margin: 0;
            font-weight: 500;
        }

        .panel {
            width: 80%;
            height: fit-content;
            display: flex;
            justify-content: start;
            gap: 30px;
            align-items: center;
            

            .value {
                outline: none;
                display: flex;
                justify-content: center;
                border: 2px solid #000;
                border-radius: 10px;
                padding: 7px 10px;
                width: 80px;
                height: 40px;
                font-size: 20px;
            }

            .units {
                min-width: 120px;
                width: fit-content;
                height: 40px;
                padding: 7px 12px;
                border-radius: 10px;
                border: 2px solid #000;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 20px;
                cursor: pointer;
            }

            .menu {
                align-items: center;
                position: absolute;
                transform: translateX(-30px) translateY(20px);
                padding: 8px 15px;
                border: 2px solid #000;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: start;
                align-items: start;
                gap: 10px;

                p {
                    margin: 0;
                    width: 100%;

                    &:hover {
                        background-color: #eee;
                    }
                }
            }
            
            .submitBtn {
                outline: none;
                border: none;
                border-radius: 10px;
                width: 160px;
                height: 40px;
                color: #fff;
                background-color: #000;
                cursor: pointer;
            }
        }
    }
}